body{
  background-image: url("../images/pizzabg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow: hidden;
}
h1{
  color: aquamarine;
}
  
